
<!-- <h3 class="header">EHL (Equipment Helpline Login Portal)</h3> -->
<mat-dialog-content class="content-box">
  <div class="top-box">
    <h5 class="header-text">EHL</h5>
    <p class="text">Equipment Helpline Login Portal</p>
  </div>
  <form [formGroup]="loginform" (ngSubmit)="doLogin()">
    <!-- <div class="row">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" type="text" matInput placeholder="Enter your username" required />
        <mat-error *ngIf="loginform.get('username')?.touched && loginform.get('username')?.invalid">
          Username is required
        </mat-error>
      </mat-form-field>
    </div> -->

    <!-- <div class="row">
      <mat-form-field class="password-field">
        <mat-label>Password</mat-label>
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput
          placeholder="Enter your password" required/>
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"  type="button">
          <i class="{{ showPassword ? 'fa-solid fa-unlock' : 'fa-solid fa-lock ' }}"></i>
        </button>
        <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>
    </div> -->

    <div class="row">
      <mat-form-field appearance="outline" class="username-field">
        <mat-label>Username</mat-label>
        <input
          formControlName="username"
          type="text"
          matInput
          placeholder="Enter your username"
          required
        />
        <button mat-icon-button matSuffix type="button" disabled>
          <i class="fa-solid fa-user"></i>
        </button>
        <mat-error *ngIf="loginform.get('username')?.touched && loginform.get('username')?.invalid">
          Username is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="password-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          matInput
          placeholder="Enter your password"
          required
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <i class="{{ showPassword ? 'fa-solid fa-unlock' : 'fa-solid fa-lock' }}"></i>
        </button>
        <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <br> -->
    <button type="button" class="btn custom-btn" type="submit">Login</button>
  </form>
</mat-dialog-content>
