<mat-dialog-content class="content-box">
  <div class="top-box">
    <h5 class="header-text">EHL </h5>
    <div class="text">Equipment Helpline Login Portal</div>
  </div>
  <form [formGroup]="loginform" class="py-2" (ngSubmit)="doLogin()">
    <div class="row">
      <mat-form-field appearance="outline" class="username-field">
        <mat-label>Username</mat-label>
        <input
          formControlName="username"
          type="text"
          matInput
          placeholder="Enter your username"
          required
        />
        <button mat-icon-button matSuffix type="button" disabled>
         <img src="user.svg" alt="user">
        </button>
        <mat-error *ngIf="loginform.get('username')?.touched && loginform.get('username')?.invalid">
          Username is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="password-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          matInput
          placeholder="Enter your password"
          required
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
         <img src="eye.svg" alt="show-password">
        </button>
        <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>
    <button class="btn custom-btn" type="submit">Login</button>
    <br>
    <div class="actions">
      <button class="btn btn-link">Forgot Password?</button>
    </div>
  </form>
</mat-dialog-content>
