<div class="row">
  <div class="col">
    <button mat-raised-button type="button" (click)="fileInput.click()" class="input-btn">
      Select File
    </button>
    <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)"
           accept=".pdf, .doc, .docx, .xls, .xlsx" />
  </div>
  <br />
  <div class="alert" *ngIf="alertMessage">{{ alertMessage }}</div>
  <div *ngIf="fileName" class="file-info">
    <div class="file-details">
      <p><strong>File Name:</strong> {{ fileName }}</p>
      <p *ngIf="fileSizeFormatted"><strong>File Size:</strong> {{ fileSizeFormatted }}</p>
    </div>
    <button mat-icon-button class="remove-btn" type="button" (click)="removeFile()">
      <img src="cross.png" alt="">
    </button>
  </div>
</div>
