<div class="pdf-container" *ngIf="isOfficerLoggedIn">
  <iframe src="confidential.pdf" width="100%" height="100%" style="border: none;"></iframe>
  <!-- <pdf-viewer
      src="confidential.pdf"
      [render-text]="true"
      [show-all]="true"
      style="display: block;"
    ></pdf-viewer> -->
</div>

<div class="officer-infobox" *ngIf="!isOfficerLoggedIn">
   <div class="login-container">
    <div class="login-box">
      <h2>Welcome back ! Only For Officer's Login</h2>
      <p>Please enter your details to sign in</p>
      <form>
        <label>Token</label>
        <input type="email" placeholder="Token" required />
        <button type="submit" class="sign-in">Via Army No</button>
        <button type="submit" class="btn-all btn-warning">Via FingerPrint</button>
        <button type="submit" class="btn-all btn-danger">Via User Name</button>
      </form>
    </div>
  </div>
</div>

