
.zipper-checkbox{
    max-width: fit-content;
}


.column-header-content{
    text-align: justify !important;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    padding-top:5px;
}
.example-container {
    overflow: auto;
  }

