<!-- <mat-card> -->
  <mat-card-content>
    <div class="row">
        <h5>EQUIPMENT HELPLINE</h5>
        <div class="col-md-6">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" [(ngModel)]="user.name">
        </div>
        <div class="col-md-6">
            <label for="army">Army No</label>
            <input type="text" placeholder="Army No" [(ngModel)]="user.army">
        </div>
        <div class="col-md-6">
            <label for="army">unit</label>
            <input type="text" placeholder="Unit" [(ngModel)]="user.unit">
        </div>
        <div class="col-md-6">
            <label for="army">Rank</label>
            <input type="text" placeholder="Rank" [(ngModel)]="user.rank">
        </div>
        <div class="col-md-6">
            <label for="army">Remarks</label>
            <input type="text" placeholder="Remarks" [(ngModel)]="user.remarks">
        </div>
        <div class="col-md-6">
            <textarea name="msg" id="msg" [(ngModel)]="user.text" width="20px" hegth="10px">massage</textarea>
        </div>
        <!-- <button class="btn-sumbit" (click)="call()">submit</button> -->
    </div>
</mat-card-content>
<mat-dialog-actions>
    <!-- <button class="btn btn-sm btn-danger"(click)="reset()">Reset</button>
    <button class="btn btn-sm btn-warning"(click)="close()">Close</button>  -->
    <button class="btn btn-sm btn-primary" (click)="call()">Save</button>
</mat-dialog-actions>
