<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-10">Eqpt Appreciation</div>
      <div class="col-md-2" align="end">
        <button class="btn btn-danger" (click)="openDailog()" *ngIf="userType == '1'">+ Add Eqpt Appreciation</button>
      </div>
    </div>
    <app-table *ngIf="ispl.length > 0" [rowData]="ispl" [tablePaginationSettings]="tablePaginationSettings"
      [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
       [sqColumnDefinition]="columns" (edit)="edit($event)" (delete)="delete($event)" (getFileId)="getFileId($event)" [tableMaxHeight]="'80vh'"
      >
    </app-table>
  </mat-card-content>
</mat-card>
