.heading,
.chat {
  position: relative;
  padding: 12px;

}
.heading::after,
.chat::after {
  content: "";
  position: absolute;
  left: 6px;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(60deg, rgb(139, 0, 0), rgb(255, 99, 71));
  box-shadow: 0 2px 10px rgba(255, 99, 71, 0.25);
}

.heading h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.chat button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.chat img {
  width: 25px;
}

.chat img:hover {
  border-radius: 5px;
}





.chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-top: 351px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 6px;
}

.chat-icon img {
  width: 36px;
  height: 36px;
  background-color: gray;
  border-radius: 50%;
  padding: 8px;
  border: none;

}

.input-wrapper {


  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  width: 96%;
  height: 19%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 11px;
  left: 6px;
}


.message {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  margin-bottom: 10px;
  height: auto;
  overflow: hidden;
  font-size: 16px;
  font-family: Arial, sans-serif;
  position:absolute;
  top: 5px;
  right:-10px;
}




.btn-send {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-top: 351px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 36px;
  height: 36px;
  background-color: gray;
  border-radius: 50%;
  padding: 8px;
  border: none;
}


.arrow {
  width: 24px;
  /* Adjust size as needed */
  height: auto;
}

