<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="heading">
                <h4>Chatbot for EHL Queries</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chat">
                <!-- <button (click)="toggleExpand()"> -->
                <button (click)="close()">
                    <!-- <img src="/expand1.png" alt="d"> -->
                     <img src="/close.png" alt="">
                </button>
                <!-- <div [ngClass]="{'chat-container': true, 'expanded': isExpanded}">
                        your chat UI here
                    </div>  -->
                <!-- </button>   -->
            </div>
        </div>
    </div>
    <div class="col-md-12">
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="input-wrapper">
                <textarea placeholder="Type a message" class="message"></textarea>
                <button (click)="sendMessage()" class="btn-send">
                    <img src="/arrow (2).png" alt="Send Icon" class="arrow">
                </button>
            </div>
        </div>
    </div>

