:root {
  --chart-gap: 20px;
}
/* Row container using Flexbox */
.stats-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
  justify-content: space-between;
}

/* Individual card */
.stat-card {
  flex: 1 1 calc(33.333% - 16px);
  min-width: 250px;
  padding: 24px;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  color: black;
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-title {
  font-size: 0.875rem;
  margin-bottom: 8px;
  opacity: 0.9;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
}

/* Gradient backgrounds */

.bg-total {
  background: linear-gradient(to right,  #fdefd3,#F9F9F9,); /* steel + navy blue */
}

.bg-today {
  background: linear-gradient(to right,  #F9F9F9, #ecf8e1); /* army green */
}

.bg-week {

  background: linear-gradient(to right,  #ecf8e1,
  #e6effa); /* saffron */
}



/* charts  */

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* fallback */
  grid-auto-columns: minmax(200px, 1fr);
  grid-template-columns: var(--card-width, 1fr) var(--card-width, 1fr) var(--card-width, 2fr);
  gap: var(--chart-gap);
  padding: 20px;
  background: #f3f4f6;
}

.chart-card {
  background: linear-gradient(135deg,
  #fdefd3,
  #F9F9F9,
  #ecf8e1,
  #e6effa
  );
  color: white;
  border-radius: 18px;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(214, 214, 214, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
  color: #080808;
}

canvas {
  width: 100% !important;
  height: 210px !important;
}
/*  2nd chart */
.dashboard-grid-second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* fallback */
  grid-auto-columns: minmax(200px, 1fr);
  grid-template-columns: var(--card-width, 1fr) var(--card-width, 1fr) var(--card-width, 2fr);
  gap: var(--chart-gap);
  padding: 20px;
  background: #f3f4f6;
}

.chart-card-second {
  background: linear-gradient(135deg,
  #fdefd3,
  #F9F9F9,
  #ecf8e1,
  #e6effa
  );
  color: white;
  border-radius: 18px;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(187, 186, 186, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-card-second:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
