<mat-card>
  <mat-card-content>
    <div>
      <div class="stats-row">
        <div class="stat-card bg-total">
          <h4 class="stat-title">Total Emer's</h4>
          <h2 class="stat-value">{{totalEmer}}</h2>
        </div>
        <div class="stat-card bg-today">
          <h4 class="stat-title" *ngIf="wing$ | async as wing">{{wing}} Emer's</h4>
          <h2 class="stat-value">{{totalWingEmer}}</h2>
        </div>
        <div class="stat-card bg-week">
          <h4 class="stat-title" *ngIf="wing$ | async as wing">Last 6 Month Added {{wing}} Emer's</h4>
          <h2 class="stat-value">{{lastSixMAddedEmer}}</h2>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <h3>Top 5 Eqpt</h3>
            <canvas baseChart [data]="categoryChartData" [options]="ChartOptions" type="pie">
            </canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h3>Top 5 Eqpt</h3>
            <canvas baseChart [data]="categoryChartData" [options]="ChartOptions" type="pie">
            </canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h3>Top 5 Eqpt</h3>
            <canvas baseChart [data]="categoryChartData" [options]="ChartOptions" type="pie">
            </canvas>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
           <h3>Last 12 Months Emers</h3>
          <canvas baseChart [data]="emerChartData" [options]="ChartOptions" type="bar"></canvas>
        </div>
        </div>
        <div class="col-md-6">
          <div class="card">
           <h3>Last 12 Months Emers</h3>
          <canvas baseChart [data]="emerChartData" [options]="ChartOptions" type="bar"></canvas>
          </div>
        </div>
      </div>
      <!-- <div class="dashboard-grid mt-4">
        <div class="card" style="--card-width: 1fr">
          <h3>Major Policies</h3>
          <canvas id="pieChart2"></canvas>
        </div>
        <div class="card" style="--card-width: 1fr">
          <h3>Advisiories</h3>
          <canvas id="doughnutChart2"></canvas>
        </div>
        <div class="card" style="--card-width: 2fr">
          <h3>Last 12 Months Policies & Advisiories</h3>
          <canvas id="barChart2"></canvas>
        </div>
      </div> -->


    </div>
  </mat-card-content>
</mat-card>