<div class="p-6 bg-gray-100 min-h-screen">
  <!-- Top Stats Cards -->
  <!-- Top Stats Cards -->
<div class="stats-row">
  <div class="stat-card bg-total">
    <h4 class="stat-title">Total Emer's</h4>
    <h2 class="stat-value">10520</h2>
  </div>
  <div class="stat-card bg-today">
    <h4 class="stat-title">Today's Policies</h4>
    <h2 class="stat-value">28</h2>
  </div>
  <div class="stat-card bg-week">
    <h4 class="stat-title">Last 7 Added Emer's</h4>
    <h2 class="stat-value">6</h2>
  </div>
</div>



    <div class="dashboard-grid">
      <div class="chart-card" style="--card-width: 1fr">
        <h3>Pie Chart</h3>
        <canvas id="pieChart"></canvas>
      </div>
      <div class="chart-card" style="--card-width: 1fr">
        <h3>Donut Chart</h3>
        <canvas id="doughnutChart"></canvas>
      </div>
      <div class="chart-card" style="--card-width: 2fr">
        <h3>Bar Chart</h3>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <!-- 2nd chart -->
    <div class="dashboard-grid-second">
      <div class="chart-card-second" style="--card-width: 1fr">
        <h3>Pie Chart</h3>
        <canvas id="pieChart2"></canvas>
      </div>
      <div class="chart-card-second" style="--card-width: 1fr">
        <h3>Donut Chart</h3>
        <canvas id="doughnutChart2"></canvas>
      </div>
      <div class="chart-card-second" style="--card-width: 2fr">
        <h3>Bar Chart</h3>
        <canvas id="barChart2"></canvas>
      </div>
    </div>





  <!-- </div> -->
</div>
