<h5 mat-dialog-title>Add Category</h5>
<mat-dialog-content>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Wing</mat-label>
        <mat-select [multiple]="false" [(ngModel)]="category.wingId" panelClass="custom-dropdown" [disabled]="category.id > 0" placeholder="Wing">
          <mat-option *ngFor="let wing of wing" [value]="wing.id">
            {{ wing.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" appAlphanumericOnly matInput [(ngModel)]="category.name">
    </mat-form-field>
  </div>

  </div>
  <div class="btn-groupd" align="end">
    <!-- <button type="button" class="btn btn-sm btn-danger"(click)="reset()">Reset</button> -->
    <button type="button" class="btn btn-sm btn-warning" (click)="close()">Close</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="save()" (keyup.enter)="save()" >Save</button>
  </div>
</mat-dialog-content>
