<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <mat-toolbar>
     <img class="logo" src="/logo.webp" alt="Logo"> &nbsp;
      <span class="brand-caption">EHL </span>
    </mat-toolbar>
    <app-sidebar (isloaded)="isLoaded($event)"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="drawer-container">
    <app-header  (toggleSideBarForMe)="sideBarToggler()"></app-header>

    <!-- <img class="commandlogo" src="/assets/comdlogo1.png" alt="CommandLogo"> -->
    <div class="content" >

      <router-outlet></router-outlet>

    </div>
    <lib-footer></lib-footer>
  </mat-drawer-content>

</mat-drawer-container>

