<mat-card class="center-card">
  <mat-card-title class="text-center">File Upload</mat-card-title>
  <mat-card-content>

    <!-- First Row: Dropdown -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>File For</mat-label>
        <mat-select [(ngModel)]="fileType" panelClass="custom-dropdown" placeholder="File For">
          <mat-option [value]="'Confidential'">Confidential</mat-option>
          <mat-option [value]="'Mrls'">MRLS</mat-option>
          <mat-option [value]="'SMTE/STE Distr'">SMTE/STE Distr</mat-option>
          <mat-option [value]="'Eqpt Mgrs'">Eqpt Mgrs</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Second Row: File Input -->
    <div class="form-row">
      <button mat-raised-button type="button" (click)="fileInput.click()" class="input-btn full-width">Select File</button>
      <input #fileInput type="file" style="display:none" (change)="onFileSelected($event)"
        accept=".pdf, .doc, .docx, .xls, .xlsx" />
    </div>

    <!-- Third Row: Save Button -->
    <div class="form-row">
      <button mat-raised-button color="primary" class="full-width" type="button" (click)="save()">Save</button>
    </div>

    <!-- Alert -->
    <div class="alert" *ngIf="alertMessage.length > 0">{{alertMessage}}</div>

    <!-- File Info -->
    <div *ngIf="fileName" class="file-info">
      <div class="file-details">
        <p><strong>File Name:</strong> {{ fileName }}</p>
        <p *ngIf="fileSizeFormatted"><strong>File Size:</strong> {{ fileSizeFormatted }}</p>
      </div>
      <button mat-icon-button class="remove-btn" type="button" (click)="removeFile()">
        <img src="cross.png" alt="">
      </button>
    </div>

  </mat-card-content>
</mat-card>
