.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, rgb(139, 0, 0),rgb(255, 99, 71));
  color: #fff;
  min-height: 43px;
  p{
    margin: 0 !important;
  }
}
