<div class="main">
  <div class="card-container">
    <div class="row">
      <ng-container *ngFor="let wing of wingList; let i = index">
        <div class="col-md-4 custom py-3">
          <!-- <div class="card">
            <img [src]="wing.imageUrl" alt="Card Image">
            <div class="card-content">
              <h3>{{ wing.name }}</h3>
              <p>{{ wing.description }}</p>
              <button (click)="setWingData(wing)">View</button>
            </div>
          </div> -->
          <div class="card">
            <img [src]="wing.imageUrl" alt="Card Image">

            <div class="card-content">
              <h3>{{ wing.name }}</h3>
              <p>{{ wing.description }}</p>
              <button (click)="setWingData(wing)">View</button>
            </div>
          </div>

        </div>

        <div class="col-md-4" *ngIf="i === wingList.length - 1">
          <!-- <div class="card">
            <img src="mastersheet.png" alt="Master Sheet">
            <div class="card-content">
              <h3>Master Sheet</h3>
              <p>List of All the Emer's</p>
              <a href="master-sheet" class="btn btn-m btn-primary" >View</a>
            </div>
          </div> -->
          <div class="card">
            <img src="mastersheet.png" alt="Master Sheet" class="contain-img">
            <div class="card-content">
              <h3>Master Sheet</h3>
              <p>List of All the Emer's</p>
              <a href="master-sheet" class="btn">View</a>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>
