// main {
//   display: flex;
//             justify-content: center;
//             align-items: center;
//             min-height: 90vh;
//             background: #f4f4f4;
//             padding: 20px;
// }

// .card-container {
//  display: flex;
//  flex-direction: column;
//   gap: 20px;
// }

// .card {
//   background: white;
//   border-radius: 15px;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
//   transition: transform 0.3s;
//   height: 410px !important;
// }

// .card:hover {
//   transform: translateY(-10px);
// }

// .card img {
//   width: 100%;
//   height: 180px;
//   object-fit: contain;
//   background-color: #f4f4f4; /* Adds a background if needed */
// }



// .card-content {
//   padding: 20px;
//   text-align: center;
// }

// .card-content h3 {
//   margin-bottom: 10px;
//   font-size: 1.5em;
//   color: #333;
// }

// .card-content p {
//   font-size: 1em;
//   color: #666;
//   margin-bottom: 15px;
// }

// .card-content button {
//   text-decoration: none;
//   color: white;
//   background: #007BFF;
//   padding: 10px 20px;
//   border-radius: 5px;
//   transition: background 0.3s;
//   border: none;
// }

// .card-content a:hover {
//   background: #0056b3;
// }


.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  height: 450px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px; /* Fixed height */
  object-fit: cover; /* Show full image with cropping */
  flex-shrink: 0;
}
.contain-img{
  object-fit: contain!important;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.4em;
  color: #333;
  margin: 0 0 10px 0;
}

.card-content p {
  flex-grow: 1;
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content button,
.card-content a.btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(60deg, rgb(139, 0, 0), rgb(255, 99, 71));
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
  border: none;
  cursor: pointer;
}
.card-content button:hover{
  background: linear-gradient(60deg,  rgb(255, 99, 71),rgb(139, 0, 0),);
}
.card-content a.btn:hover {
  background: linear-gradient(60deg,  rgb(255, 99, 71),rgb(139, 0, 0),);
}