.commandlogo{
  height: 80px;
  width: 160px;
}

.contents{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;

  /* new styling */
  min-height: auto;
  padding: 0.25rem 1rem;
}
.contents > * {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-header{
  background: linear-gradient(60deg, rgb(139, 0, 0),rgb(255, 99, 71));
  color: #fff;
}

.btn-white{
  color: #fff;
}

.btn-link {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.btn-link:hover {
  color: #0056b3;
}


