<mat-toolbar   class="app-header">
    <mat-toolbar-row>
      <div class="contents">
        <div fxShow="true">
            <button *ngIf="wing$ | async as wing" mat-icon-button (click)="toggleSideBar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <span class="example-spacer"><div *ngIf="wing$ | async as wing">
          <a routerLink="wing" class="btn-link" (click)="removeWing()">{{ wing }}</a>
        </div>


        </span>
        <!-- <app-language style="height: 30px;display: inherit;"></app-language> -->
        <i class="fa-solid fa-user" (click)="openDialog()"></i>

        <button mat-button  (click)="onLoggedout()">
          <i class="fa fa-sign-out btn-white px-2" aria-hidden="true"></i>
         <span class="btn-white"> Sign out</span>
      </button>
      </div>
    </mat-toolbar-row>

</mat-toolbar>
