<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    <div class="row full-width">
    <div class="col-md-2 d-flex align-center"><p>Ranks</p> </div>
    <div class="col-md-2 offset-md-6"></div>
    <div class="col-sm-1" align="end">
      <action-dropdown></action-dropdown>
    </div>
    <div class="col-md-1 align-center d-flex" align="end"><button class="btn btn-link" (click)="add()">+ Add Rank</button></div>
  </div>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
