:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 2px;
    }
    .mat-mdc-list-base .mat-mdc-list-item,
    .mat-list-base .mat-list-option,
    .mat-list-base .mat-mdc-subheader {
      height: 65px;

    }
  }
  .mat-mdc-subheader {

    margin-bottom: 0px !important;
    margin-left: 5px;
  }

  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    padding-left: 20px;
    list-style: none;
  }
  .submenu.expanded {
    display: block;
    max-height: 300px;
  }

.sidebar-img{
  /* background-image: url('../../../../admin/public/sidebar-1.jpg'); */
}
