<h5 mat-dialog-title>Add ISPL Policy</h5>
<form [formGroup]="policy" (ngSubmit)="save()">
<mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Wing</mat-label>
        <mat-select [multiple]="false" formControlName="wingId" (selectionChange)="getCategory($event.value)" panelClass="custom-dropdown" placeholder="Wing">
          <mat-option *ngFor="let wing of wingList" [value]="wing.id">
            {{ wing.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policy.get('wingId')?.touched && policy.get('wingId')?.invalid">
          Wing is required
        </mat-error>
      </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Policy Letter & Misc Type</mat-label>
      <mat-select formControlName="type" panelClass="custom-dropdown" placeholder="Policy letter & Misc type">
        <mat-option [value]="'ISPL'">ISPL</mat-option>

      </mat-select>
      <mat-error *ngIf="policy.get('type')?.touched && policy.get('type')?.hasError('required')">
        Policy Letter & Misc Type is required
      </mat-error>
    </mat-form-field>
  </div>
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [multiple]="false" formControlName="categoryId" (selectionChange)="getSubCategory($event.value)"
          panelClass="custom-dropdown" placeholder="Category" required>
          <mat-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="policy.get('categoryId')?.touched && policy.get('categoryId')?.invalid">
          Category is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>SubCategory</mat-label>
        <mat-select formControlName="subCategoryId" (selectionChange)="getEqpt($event.value)">
          <mat-option *ngFor="let subCat of subCategoryList" [value]="subCat.id">{{ subCat.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>EQPT</mat-label>
        <mat-select formControlName="eqpt">
          <mat-option *ngFor="let eqpt of eqptList" [value]="eqpt.name">{{ eqpt.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button type="button" (click)="fileInput.click()" class="input-btn">Select File</button>
      <input #fileInput type="file" style="display:none" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .xls, .xlsx" />
       <!-- Display file name and file size -->
    <div *ngIf="fileName && fileSizeFormatted">
      <p><strong>File Name:</strong> {{ fileName }}</p>
      <p><strong>File Size:</strong> {{ fileSizeFormatted }}</p>
    </div>
    </div>
    <br>

  </div>
  <br>
  <div class="row">
    <mat-form-field>
      <mat-label>Remarks</mat-label>
      <textarea matInput appAlphanumericOnly formControlName="remarks" placeholder="Add remarks" ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
  <button type="button" class="btn btn-sm btn-warning" (click)="close()">Close</button>
  <button type="submit" class="btn btn-sm btn-primary" >Save</button>
</mat-dialog-actions>
</form>
