<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col-md-3">Role of MAG List</div>
      <div class="col-md-6"></div>
      <div class="col-md-3" align="end">
        <a href="/wing"><img src="back-arrow.png" height="30px" width="30px" alt="Master Sheet"> Back</a>
        <button class="btn btn-danger mx-3" (click)="openDialog()" >+ Add Role of MAG</button>
      </div>
    </div>

  </mat-card-title>
  <mat-card-content>
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
    <app-table *ngIf="roleofMagList.length > 0" [rowData]="roleofMagList" [tablePaginationSettings]="tablePaginationSettings"
       [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true" [tableMaxHeight]="'80vh'"
      (edit)="edit($event)" (delete)="del($event)" [sqColumnDefinition]="columns"
      >
    </app-table>
  </mat-card-content>
</mat-card>
