$box-header: linear-gradient(60deg, rgb(139, 0, 0),rgb(255, 99, 71));
$theme-color:#60B5FF;
$ligth-blue:#AFDDFF;
$ligth-yellow:#FFF085;


$Primary : #2F80ED;
$Secondary : #27AE60;
$Error : #EB5757;

$Background: #F9FAFB;
$White: #FFFFFF;

$Text-Primary : #1A1A1A;
$Text-Secondary : #6B7280;
$Borders:#E5E7EB;

$Info: #2D9CDB;
$Warning: #F2C94C;
$Muted : #D1D5DB;

